{% extends "base_logged_in.html" %}
{% from "macros/buttons.html" import submit_button, button %}
{% block title %}{% block subtitle %}{% endblock %}Discussion{% endblock %}
{% block contentheading %}Discussions panel{% endblock %}
{% block maincontent %}
    {% block discussioncontent %}
        <form action="/discussion" method="post">
            <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
            <dl>
                <dt>Pregunta</dt>
                <dd>
                    <input type="text" name="titulo" placeholder="Titulo" autofocus /><br>
                    <input type="text" name="descripcion" placeholder="Descripcion" autofocus />
                </dd>
            </dl>
            <p class="alignright">{{ submit_button('bluebg', 'Crear') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
        </form>
        {% for pregunta in preguntas %}
            <div class="questiondiv">
                <a class="questiontext" href="/answers" name="pregunta">{{pregunta.titulo}}</a><br>
                <p class="questiontext">{{pregunta.descripcion}}<br>
                    {{pregunta.creador}}</p>
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}