{% extends "base_logged_in.html" %}
{% from "macros/buttons.html" import submit_button, button %}
{% block title %}{% block subtitle %}{% endblock %}Moderation{% endblock %}
{% block contentheading %}Moderation panel{% endblock %}
{% block maincontent %}
        <form action="/moderator" method="get">
            <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
            <dl>
                <dt>Reportes</dt>
            </dl>
        </form>

        {% for reporte in reportes.values() %}
            {% if reporte.estado == 1 %}
                <div class="reportdiv">
                    <a class="reporttext" href="/moderator/{{ reporte.id }}" name="reporte">{{reporte.descripcion}}</a><br>
                    <p class="reporttext">{{reporte.autor}}<br>
                        {{reporte.fechaCreacion}}</p>
                </div>
            {% endif %}
        {% endfor %}

        
    {% endblock %}
{% endblock %}