{% extends "base_logged_in.html" %}
{% from "macros/buttons.html" import submit_button, button %}
{% block title %}{% block subtitle %}{% endblock %}Discussion{% endblock %}
{% block contentheading %} {{ pregunta.titulo }} {% endblock %}
{% block contentsubheading %} {{ pregunta.descripcion }} {% endblock %}
{% block maincontent %}
    {% block answercontent %}
        <form action="discussion/question?id={{pregunta.id}}" method="post">
            <dl>
                <dt>Reportar pregunta:</dt>
                <dd>
                    <input type="text" name="descripcion" placeholder="Descripcion" autofocus />
                </dd>
            </dl>
            <p class="alignright">{{ submit_button('bluebg', 'Enviar') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
        </form>
        <form action="/discussion/question?id_p={{pregunta.id}}" method="post">
            <dl>
                <dt>Añadir respuesta:</dt>
                <dd>
                    <input type="text" name="descripcion" placeholder="Descripcion" autofocus />
                </dd>
            </dl>
            <p class="alignright">{{ submit_button('bluebg', 'Crear') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
        </form>
        {% for respuesta in pregunta.respuestas %}
            <div class="answerdiv">
                <a class="answertext">{{respuesta.descripcion}}</a><br>
                <p class="answertext">{{respuesta.creador}}</p>
            </div>
            <form action="/discussion/question/answers?id_p={{pregunta.id}}&id_r={{respuesta.id}}" method="post">
                <dl>
                    <dt>Reportar respuesta:</dt>
                    <dd>
                        <input type="text" name="descripcion" placeholder="Descripcion" autofocus />
                    </dd>
                </dl>
                <p class="alignright">{{ submit_button('bluebg', 'Enviar') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
            </form>
            {% for comentario in respuesta.comentarios %}
                <div class="commentdiv">
                    <a class="commenttext">{{comentario.descripcion}}</a><br>
                    <p class="commenttext">{{comentario.creador}}</p>
                </div>
                <form action="/discussion/question/answers?id_p={{pregunta.id}}&id_r={{respuesta.id}}&id_c={{comentario.id}}" method="post">
                    <dl>
                        <dt>Reportar comentario</dt>
                        <dd>
                            <input type="text" name="descripcion" placeholder="Descripcion" autofocus />
                        </dd>
                    </dl>
                    <p class="alignright">{{ submit_button('bluebg', 'Enviar') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
                </form>
            {% endfor %}
            <form action="/discussion/question/answers?id_p={{pregunta.id}}&id_r={{respuesta.id}}" method="post">
                <dl>
                    <dt>Añadir comentario</dt>
                    <dd>
                        <input type="text" name="descripcion" placeholder="Descripcion" autofocus /><br>
                        <input name="sentimiento" type="radio" value="1" />Positivo
                        <input name="sentimiento" type="radio" value="2" />Neutral
                        <input name="sentimiento" type="radio" value="3" />Negativo
                        <input name="id_respuesta" type="hidden" value="{{respuesta.id}}" />
                    </dd>
                </dl>
                <p class="alignright">{{ submit_button('bluebg', 'Crear') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
            </form>
        {% endfor %}
        
    {% endblock %}
{% endblock %}