{% extends "base_logged_in.html" %}
{% from "macros/buttons.html" import submit_button, button %}
{% block title %}{% block subtitle %}{% endblock %}Discussion{% endblock %}
{% block contentheading %} {{ pregunta.titulo }} {% endblock %}
{% block contentsubheading %} {{ pregunta.descripcion }} {% endblock %}
{% block maincontent %}
    {% block answercontent %}
        <form action="/discussion/question?titulo={{pregunta.titulo}}" method="post">
            <dl>
                <dt>Respuesta</dt>
                <dd>
                    <input type="text" name="descripcion" placeholder="Descripcion" autofocus />
                </dd>
            </dl>
            <p class="alignright">{{ submit_button('bluebg', 'Crear') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
        </form>
        {% for answer in pregunta.respuestas %}
            <div class="answerdiv">
                <a class="answertext">{{answer.descripcion}}</a><br>
                <p class="answertext">{{answer.creador}}</p>
            </div>
            <form action="discussion/question/answer/comments" method="post">
                <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
                <dl>
                    <dt>Comentarios</dt>
                    <dd>
                        <input type="text" name="descripcion" placeholder="Descripcion" autofocus />
                    </dd>
                </dl>
                <p class="alignright">{{ submit_button('bluebg', 'Crear') }}{{ button('redbg', redirect_to, 'Cancel') }}</p>
            </form>
            {% for comment in answer.comentarios %}
                <div class="commentdiv">
                    <a class="commenttext">{{comment.descripcion}}</a><br>
                    <p class="commenttext">{{comment.creador}}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
{% endblock %}